*{
	background-color:#C0EBFC;
}
p{
	color:#319521;
	text-align:center;
	font-size:22px;
}
h1,h2,h3,h4,h5,h6{
	text-align:center;
}
#head1{
	color:#0BC878;
}
#head2{
	color:green;
}
#head3{
	color:#B078F7;
}
#head4{
	color:lightgreen;
}
#head5{
	color:red;
}
#head6{
	color:#E9F315 ;
}
